// COLORS
$color-white: #fff;
$color-black: #000;

$color-grey-lighter: #f7f7f7;
$color-grey-light: #b1b1b1;

$color-grey-dark: #999;
$color-grey-darker: #777;

$color-off-black: #171717;

$color-red: red;
$color-green: #669900;
$color-aqua: #059dc0;
$color-blue: #007bff;
$color-blue-light: lightblue;

// UNIT
$control-width: 30px;
$control-height: 200px;

// PEDALBOARD
$button-size: 75px;
$footswitch-size: $button-size + 20px;
